<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>235450574163-j3kvi3ovafmjhiamri7kuv9cc69u98sk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.235450574163-j3kvi3ovafmjhiamri7kuv9cc69u98sk</string>
	<key>API_KEY</key>
	<string>AIzaSyD3aKzfV0J38mrskze-i_oYkUpibXHaUU8</string>
	<key>GCM_SENDER_ID</key>
	<string>235450574163</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.simple.calculator.plus</string>
	<key>PROJECT_ID</key>
	<string>simple-calculator-a95d5</string>
	<key>STORAGE_BUCKET</key>
	<string>simple-calculator-a95d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:235450574163:ios:5adba34e9fe0079767eda6</string>
</dict>
</plist>